<h1>Hopefully,This Works On Both Directions Now!!</h1>

{% schema %}
{
    "name":"Liquid Reference",
     "settings": [
     {
        "id": "liquid_ref",
        "type": "text",
        "label": "A Reference for Shopify Liquid"
    }

     ],
     "presets":[
     { 
         "name": "Liquid Reference",
         "category": "Reference"
     }
     ]
     
}
{% endschema %}